# flyctl launch added from .gitignore
# Ignore Python virtual environments
**\venv
**\electricity_price_venv

# Byte-compiled / optimized / DLL files
**\__pycache__
**\*.py[cod]
**\*$py.class

# macOS & Windows system files
**\.DS_Store
**\Thumbs.db

# Environment and IDE settings
**\.env
**\.idea
**\.vscode

# Jupyter notebook checkpoints
**\.ipynb_checkpoints

# Docker artifacts
**\*.log
**\*.pid
**\*.tar
**\*.sock

# Photos
**\*.png
**\*.jpg

# Saved Models
**\*.pkl

# Latex
#Report
**\*.fls
**\*.fdb_latexmk
**\*.aux
**\*.synctex.gz

#Slides
**\*.nav
**\*.snm
**\*.toc
**\*.out

# flyctl launch added from electricity_price_venv\Lib\site-packages\debugpy\_vendored\pydevd\_pydevd_frame_eval\.gitignore
electricity_price_venv\Lib\site-packages\debugpy\_vendored\pydevd\_pydevd_frame_eval\pydevd_frame_evaluator.*.so
electricity_price_venv\Lib\site-packages\debugpy\_vendored\pydevd\_pydevd_frame_eval\pydevd_frame_evaluator.*.pyd
electricity_price_venv\Lib\site-packages\debugpy\_vendored\pydevd\_pydevd_frame_eval\pydevd_frame_evaluator.pyx

# flyctl launch added from electricity_price_venv\Lib\site-packages\debugpy\_vendored\pydevd\pydevd_attach_to_process\linux_and_mac\.gitignore
electricity_price_venv\Lib\site-packages\debugpy\_vendored\pydevd\pydevd_attach_to_process\linux_and_mac\attach_x86.dylib
electricity_price_venv\Lib\site-packages\debugpy\_vendored\pydevd\pydevd_attach_to_process\linux_and_mac\attach_x86_64.dylib
electricity_price_venv\Lib\site-packages\debugpy\_vendored\pydevd\pydevd_attach_to_process\linux_and_mac\attach_linux_x86.o
electricity_price_venv\Lib\site-packages\debugpy\_vendored\pydevd\pydevd_attach_to_process\linux_and_mac\attach_linux_x86_64.o
fly.toml
